target
.idea
*.iml
*.log
.classpath
.project
.settings
spring-boot/**/project/**
**/cli/**
ticket-monster-msa/**/project/**
camel/**/project/**
service-mesh/**/project/**
service-mesh/**/binaries/**
javac-services.**
